@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  background-color: black;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.terminal {
  font-family: Hack, monospace;
}

p,
h1,
h2,
h3,
table,
input {
  color: white;
}
